<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Files</title>
</head>
<body>
    <% if (student && student.pdfFilePath) { %>
        <embed src="<%= student.pdfFilePath %>" type="application/pdf" width="100%" height="600px" />
    <% } else { %>
        <p>No PDF file available for this student.</p>
    <% } %>

</body>
</html>